header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}

/* Navbar */
.Navbar img{
    height: 70px;
    margin-left: 20px;
}

.Navbar{
    width: 100%;
    background-color: #400071;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
}

.Navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 10px;
    padding: 10px;
}

.Navbar ul li a{
    text-decoration: none ;
    text-transform: uppercase;
    color: white;
    font-weight: bolder;
    padding: 15px;
    border-radius: 10px;
}
.Navbar li a:hover{
    background-color: #ffaf24;
    transition: 0.5s;
}

.Navbar a:hover{
    color: #400071;
}

/* Footer */

footer{
    padding: 10px;
    background-color: #400071;
    border-top: 2px solid #ffaf24;
}

.footer-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.footer-links a{
    text-decoration: none;
    color: white;
}

.footer-links ul li{
    list-style: none;
    display: inline-block;
    font-size: 20px;
    margin-inline: 20px;
}




